<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codexing.blog.mapper.ArticleCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.codexing.blog.entity.ArticleComment">
        <id column="id" property="id"/>
        <result column="user" property="user"/>
        <result column="article_id" property="articleId"/>
        <result column="parent_id" property="parentId"/>
        <result column="message" property="message"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="listByArticleId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT * FROM article_comment WHERE article_id = #{articleId} AND parent_id = -1 ORDER BY create_time DESC
    </select>

    <select id="listById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * FROM article_comment WHERE parent_id = #{id} order by create_time desc
    </select>

</mapper>
